<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Please login</title>
  <style>
   main {
       font-family: Avenir, Helvetica, Arial, Sans-serif;
       font-weight: normal;
       width: 100%;
       text-align: center;
   }

   div {
       max-width: 320px;
       text-align: left;
       text-decoration: none;
       padding: 16px;
       margin: 16px auto;
       border: 1px solid gray;
       border-radius: 4px;
   }
  </style>
</head>

<body>
  <main>
    <h1>Please Login</h1>

    <p>Don't worry, you can still post anonymously.</p>

    <div>
        <a href="/auth/google">Login with Google</a>
    </div>

    <div>
        TODO: more login options...
    </div>
  </main>
</body>
