{{ define "base" }}
<html>
  <head>
    <title>
      {{- template "title" . -}}
    </title>

    {{ template "styles" . }}
    {{ template "head" . }}
  </head>

  <body>
    {{ template "scripts" . }}
    <main>
      {{ template "main" . }}
    </main>
  </body>
</html>
{{ end }}

// Optional parameters that may be overridden by other templates.
{{ define "styles" }}
<style>
  main {
    margin: auto;
    width: 70ch;
    font-family: sans-serif;
  }
</style>
{{ end }}

{{ define "head" }} {{ end }}
{{ define "scripts" }}{{ end }}
{{ define "sidebar" }}{{ end }}
