@import "leaflet/dist/leaflet";

@import "tailwindcss/dist/base";
@import "tailwindcss/dist/components";
@import "tailwindcss/dist/utilities";


#map {
    width: 100%;
    height: 85vh;
}

.route-info {
    max-height: 300px;
    overflow-y: scroll;
}

.donut-shop-icon {
    background: none;
    border: none;
}

.hover-underline:hover {
    text-decoration: underline;
}
.route-item {
    border: 1px solid theme('colors.gray.100');
    @apply px-2;
}

.route-item:nth-child(odd) {
    @apply bg-gray-200;
}
