<!doctype html>

<head>
  <title>tour story.</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>
   h1 { text-align: center; }
   body { font-family: Avenir; }
   main {
       background-color: white;
       max-width: 600px;
       margin: 0 auto;
       padding: 1em;
   }
  </style>

  {% block head %}{% endblock %}
</head>

<body>
  <div class="wrapper">
    <main>
      {% block main %}
      {% endblock %}
    </main>
  </div>
</body>
