<section class="row">
  <h1>Hello</h1>

  <%= if Guardian.Plug.authenticated?(@conn, []) do %>
  <p>
    You are logged in as:
    <b><%= Guardian.Plug.current_resource(@conn).email %></b>
  </p>
  <% end %>
</section>
