<head>
    <title> {{ Title }} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
     @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

     html {
         font-family: 'IBM Plex Sans', Avenir Next, Avenir, Helvetica;
         font-size: 18px;
         line-height: 1.5;
         text-color: #555;
     }

     body {
         max-width: 700px;
         margin: 0 auto;
         padding: 0 1em;
     }

     h1 {
         line-height: 1.2;
         font-size: 1.2em;
     }

     h2,h3,h4,h5 {
         font-weight: bold;
         font-size: 1em;
     }

     img {
         max-width: 100%;
         max-height: 1000px;
     }
    </style>
</head>
