<!doctype html>

<head>
  <title>Where are you?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
          integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
          crossorigin=""></script>

  <style>
      body { padding: 1em; max-width: 400px; margin: 0 auto; font-family: sans-serif; }
      form { margin-top: 1em; width: 100%; }
      input { width: 100%; box-sizing: border-box; margin-bottom: 1em; padding: 1em; }
      input[type="submit"] { padding: 1em; background: #94d2ff; border: none; cursor: pointer; -webkit-appearance: none; }
      .hidden { visibility: hidden; }
      #map { width: 100%; height: 30vh; }
  </style>
</head>

<h1>You are here.</h1>

<div id="map"></div>

<form action="/here" method="post" autocomplete="off">
    <input name="comment" type="text" placeholder="leave a note">
    <input name="lat" type="hidden" required>
    <input name="lng" type="hidden" required>
    <input class="hidden" type="submit" value="post location">
</form>

{{#if points.length}}
<h2>Previously...</h2>

<ul style="list-style: none;">
  {{#each points }}
  <li>
    <em>{{ humanize ts }}</em> -
    {{#if comment.length }} {{ unsafe comment }} {{ else }} "no comment" {{/if}}
    <a class="delete" data-key="{{ key }}" href="#" onclick="return false;">
        delete
    </a>
  </li>
  {{/each}}
</ul>
{{/if}}

<script type="text/javascript">
 (function() {
   if (!navigator.geolocation) return alert("geolocation not available");

   const map = L.map('map');
   L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

   navigator.geolocation.getCurrentPosition(
     pos => {
       const lat = pos.coords.latitude;
       const lng = pos.coords.longitude;

       document.querySelector('input[name="lat"]').value = lat;
       document.querySelector('input[name="lng"]').value = lng;
       document.querySelector('.hidden').classList.remove('hidden');

       L.marker([lat, lng]).addTo(map);
       map.setView([lat, lng], 10);
     },
     err => { console.error(err); alert(`geolocation failed`); }
   );

   for (const link of document.querySelectorAll('.delete')) {
     link.addEventListener('click', (e) => {
       fetch(`/here/${e.target.dataset.key}/delete`, {
         method: 'POST', credentials: 'same-origin'
       })
         .then(() => window.location.reload())
         .catch(err => alert(err.toString()));
     })
   }
 })()
</script>
