<div class="status">

  <div class="status__header">
    <div class="status__title"> {{ status.title }} </div>

    {% if g.logged_in %}
      <div class="status__action">...</div>
    {% endif %}
  </div>
  <div class="status__meta">
    by {{ status.user.name }}
    <span class="status__timestamp">{{ status.created_at|humanize_date }}</span>
  </div>
  {% if status.location is not none %}
    {# TODO: pull this out into a filter #}
    <img src="{{status.location.get_map_url()}}"></img>
  {% endif %}

   <div class="status__body">{{ status.body }}</div>
</div>
