{% extends 'layouts/base.html' %}

{% block content %}
  <div class="trip">
    <div class="form form--trip trip__create">
      <form action="/trip/create" method="post" autocomplete="off">
        <input class="form__input"
               type="text"
               name="title"
               placeholder="Start a new trip"
               required>
        <textarea class="form__input form__input--textarea"
                  name="description"
                  placeholder="Description..."
                  required></textarea>
        <input class="form__input form__input--submit"
               type="submit"
               value="Embark">
      </form>
    </div>
  </div>
{% endblock %}
