html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.content {
    max-width: 70ch;
    margin: auto;
}
