:root {
    --font-stack: Helvetica Neue, Helvetica, Arial, sans-serif;
    --base-font-size: 1em;
    --base-text-color: #444;
    --accent-color: violet;
    --light-grey: #dfdfdf;
    --line-height: 1.6;
}

html {
    box-sizing: border-box;
    color: var(--base-text-color);
}

a,
a:visited {
    color: var(--base-text-color);
    text-decoration: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.flash {
    background: green;
    padding: 1em;
    color: white;
}

.form {
    width: 100%;
}

.form__input {
    font-size: var(--base-font-size);
    font-family: var(--font-stack);
    padding: 1em;
    width: 100%;
    border: 1px solid var(--light-grey);
}

.form__input--button {
    background-color: var(--light-grey);
    cursor: pointer;
}

.form__input--button:hover {
    background-color: var(--accent-color);
}

.form__input--textarea {
    resize: vertical;
}

.form__input--location {
    cursor: pointer;
}

.form__input--location--active {
    background-color: var(--accent-color);
    color: white;
}

.form__input--location--pending {
    background-color: grey;
    color: white;
}

.header,
.main {
    max-width: 500px;
    margin: 0 auto;
    font-family: var(--font-stack);
}

.header__nav {
    text-align: right;
}

.header__nav ul li {
    display: inline-block;
}

.status {
    margin-bottom: 1em;
}

.status__body {
    white-space: pre-wrap;
    line-height: var(--line-height);
}

.status__timestamp {
    color: var(--accent-color);
}

.status__title {
  border-bottom: 0.3em solid var(--accent-color);
  font-size: 1em;
  font-weight: bold;
  font-style: oblique;
}

.trip__title {
    text-align: center;
    padding: 1em;
    background: var(--accent-color);
}
