html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.flash {
    background: green;
    padding: 1em;
    color: white;
}

.status-box {
    width: 100%;
}

.status-box input, textarea {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border: none;
}

.login--form input {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border: none;
}
